/*#f7e4c6  ->rosado
#98d9b6  -> verde
#77778c -> purpura*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-box {
    box-shadow: 4px 6px 38px #0faf54c4;
    width: 50%;
    background: #f7e4c6;
}

.inputComment {
    height: 10vh;
}

.box-comment {
    border: 3px solid #77778c;
    border-radius: 10px;
    margin-bottom: 12px;
}

.box-comment .h3-user,
.box-comment .label-comment,
.box-comment .btn-remove,
.box-comment .btn-abusive {
    padding: 0 5px 0 5px;
}